<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
    <div>
        <a href="/me/stored/courses">Danh sách khóa học</a>
        <h3>Khóa học đã xóa</h3>
        <div class="mt-4 d-flex align-items-center gap-2">
            <div class="form-check me-3">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả
                </label>
            </div>

            <div class="form-group me-3 mb-0">
                <select class="form-control form-control-sm checkbox-select-all-options" name="action">
                    <option value="">-- Chọn hành động --</option>
                    <option value="restore">Khôi phục</option>
                    <option value="deleteDestroy">Xóa vĩnh viễn</option>
                </select>
            </div>

            <button class="btn btn-primary btn-sm btn-check-submit disabled">Thực hiện</button>
        </div>

    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian xóa</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-primary btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-danger" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#deleteCourse">Xóa vĩnh viễn</a>

                </td>
            </tr>
            {{else}}
            <td colspan="5" class="text-center">Thùng rác trống
                <a href="/me/stored/courses">Danh sách khóa học</a>
            </td>
            {{/each}}

        </tbody>
    </table>
</form>

{{!-- dialog delete course --}}
<div class="modal" id="deleteCourse" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận xóa khóa học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hành động này không thể khôi phục, bạn vẫn muốn xóa khóa học?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-course-form" method="POST">
    <input type="hidden" name="_method" value="DELETE">
</form>
<form name="restore-course-form" method="POST"></form>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId;
        var deleteCourseForm = document.forms['delete-course-form'];
        var restoreCourseForm = document.forms['restore-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var btnRestoreCourse = $('.btn-restore');
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var btnCheckSubmit = $('.btn-check-submit');

        $('#deleteCourse').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        })

        btnDeleteCourse.onclick = function () {
            deleteCourseForm.action = '/courses/' + courseId + '/force?_method=DELETE';
            deleteCourseForm.submit();
        }

        // restore button click event
        btnRestoreCourse.click(function (event) {
            event.preventDefault();
            var button = $(event.currentTarget);
            courseId = button.data('id');
            restoreCourseForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreCourseForm.submit();
        });

        //checkboxAll click
        checkboxAll.change(function () {
            var isChecked = $(this).prop('checked');
            courseItemCheckbox.prop('checked', isChecked);
            renderCheckAllSubmitBtn();
        });

        //course item checkbox click
        courseItemCheckbox.change(function () {
            var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        //check all submit button click
        btnCheckSubmit.click(function (e) {
            var isSubmitable = !$(this).hasClass('disabled');
            if (!isSubmitable) {
                e.preventDefault();
            }
        });

        //re-rebder check all submit button
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length;
            if (checkedCount > 0) {
                btnCheckSubmit.removeClass('disabled');
            } else {
                btnCheckSubmit.addClass('disabled');
            }
        }
    })  
</script>